Django==1.8.4
Fabric==1.10.1
PyPDF2==1.25.1
SwampDragon==0.4.2.2
amqp==1.4.7
anyjson==0.3.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
certifi==2015.04.28
dj-database-url==0.3.0
dj-static==0.0.6
django-celery==3.1.17
django-ipware==0.1.0
django-jsonfield==0.9.13
django-redis-cache==1.6.0
django-storages==1.1.8
django-toolbelt==0.0.1
django-widget-tweaks==1.4.1
djangorestframework==3.0.5
drf-nested-routers==0.9.0
ecdsa==0.13
eventlog==0.11.0
gunicorn==19.3.0
html5lib==1.0b8
kombu==3.0.28
meld3==1.0.2
paramiko==1.15.2
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.6
redis==2.10.3
reportlab==2.7
requests==2.7.0
six==1.9.0
sockjs-tornado==1.0.2
tornado==4.2.1
tornado-redis==2.4.18
wsgiref==0.1.2
xhtml2pdf==0.0.6
