{% load i18n %}{% autoescape off %}

{% trans "Bonjour" %} {{ user.first_name }} {{ user.last_name }},

{% blocktrans %}You're receiving this email because you requested a password reset for your WeASe account. {% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Login with this email address: " %}{{ user.get_username }}

{% trans "Please contact the WeASe Team if you have any questions." %}

{% endautoescape %}
