
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

	{% block content %}

	<div class="page page-core page-login">

		<div class="text-center"><img src="{{MEDIA_URL}}images/weaselogo2.1.png" alt="wease logo" class="w-240"></div>

		<div class="container w-420 p-15 bg-white mt-40 text-center">
			<h2 class="text-light text-greensea">Forgot your password?</h2>

			<form name="form" class="form-validation mt-20" action="" method="post">{% csrf_token %}

				<p class="help-block text-left">
				Enter your email address below, and we'll email instructions for setting a new one.
				</p>

				<div class="form-group">
					{{ form.email | add_class:"form-control underline-input" | attr:"placeholder: enter your email" }}
				</div>
					{{ form.email.errors }}

				<div class="bg-slategray lt wrap-reset mt-40 text-left">
					<p class="m-0">
						<button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right">Submit</button>
						<a href="{% url 'index' %}" class="btn btn-lightred b-0 text-uppercase">Back</a>
					</p>
				</div>

			</form>

		</div>

	</div>

	{% endblock %}

