{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

	{% block content %}

	<div class="page page-core page-login">

		<div class="text-center"><img src="{{MEDIA_URL}}images/weaselogo2.1.png" alt="wease logo" class="w-240"></div>

		<div class="container w-420 p-15 bg-white mt-40 text-center">
			<h2 class="text-light text-greensea">Email sent!</h2>

			<p class="help-block text-left">
				{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
			</p>
			<p class="help-block text-left">
				{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
			</p>

			<div class="bg-slategray lt wrap-reset mt-40 text-left">
				<p class="m-0">
					<a href="{% url 'index' %}" class="btn btn-dutch b-0 text-uppercase">Login</a>
				</p>
			</div>

		</div>

	</div>

	{% endblock %}


