{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

	{% block content %}

		<div class="page page-core page-login">

		  <div class="text-center"><img src="{{MEDIA_URL}}images/weaselogo2.1.png" alt="wease logo" class="w-240"></div>

		  <div class="container w-420 p-15 bg-white mt-40 text-center">
		    <h2 class="text-light text-greensea">New password updated</h2>
		    	
		      <p class="help-block text-left">
		         Your new password has been set. Please login.
		      </p>

			    <div class="bg-slategray lt wrap-reset mt-40 text-left">
			      <p class="m-0">
			        <a href="{% url 'index' %}" class="btn btn-dutch b-0 text-uppercase text-center">Login</a>
			      </p>
			    </div>

		  </div>

		</div>

	{% endblock %}