<div class="modal-header">
  <p class="pull-right"><a href ng-click="cancel()">X</a></p>
  <h3 class="modal-title custom-font">Add Request Item</h3>
</div>
<div class="modal-body">
  <div class="row" ng-repeat="(domain, value) in items | filter: {domain: vm.order.req_order[0].req_domain } | groupBy: 'domain'">
    <h3 class="ml-20">{{ domain }}</h3>
    <hr>
    <div class="col-md-4" ng-repeat="(fam, v) in value | groupBy: 'family'">
      <h4>{{fam}}</h4>
        <div ng-repeat="sf in v">
          <p><a ui-sref="app.orders.add({orderId:vm.order.id, goodId:sf.id})" ng-click="ok()">{{sf.subfamily}}</a></p>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
</div>