{% load static %}

    <script src="{% static "build/development/bower_components/jquery.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/json3.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/bootstrap.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-resource.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-cookies.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-sanitize.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-animate.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-touch.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-fontawesome.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ui-bootstrap-tpls.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/index.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/loading-bar.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-ui-router.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ui-utils.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/moment.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/daterangepicker.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ng-bs-daterangepicker.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-momentjs.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-fullscreen.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-ui-tree.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/html.sortable.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-toastr.tpls.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/abn_tree_directive.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ocLazyLoad.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/chosen.jquery.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/select.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/textAngular.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/bootstrap-colorpicker-module.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-file-upload.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ng-img-crop.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.bootstrap.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.colreorder.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.columnfilter.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.colvis.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.fixedcolumns.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.fixedheader.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.scroller.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-datatables.tabletools.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ui-grid.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ng-table.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/smart-table.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/raphael.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/mocha.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/morris.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery.flot.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery.flot.resize.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-flot.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery.flot.spline.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/d3.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/rickshaw.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/owl.carousel.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/lodash.compat.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-google-maps.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/jquery-ui.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/fullcalendar.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/calendar.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/underscore-min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular.easypiechart.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/angular-filter.min.js" %}"></script>
    <script src="{% static "build/development/bower_components/ngStorage.min.js" %}"></script>


    <!-- bower:js -->
    <script src="{% static "bower_components/jquery/jquery.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/json3/lib/json3.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
    <script src="{% static "bower_components/angular-cookies/angular-cookies.js" %}"></script>
    <script src="{% static "bower_components/angular-sanitize/angular-sanitize.js" %}"></script>
    <script src="{% static "bower_components/angular-animate/angular-animate.js" %}"></script>
    <script src="{% static "bower_components/angular-touch/angular-touch.js" %}"></script>
    <script src="{% static "bower_components/angular-fontawesome/dist/angular-fontawesome.js" %}"></script>
    <script src="{% static "bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
    <script src="{% static "bower_components/jquery.slimscroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "bower_components/jquery.sparkline/index.js" %}"></script>
    <script src="{% static "bower_components/angular-loading-bar/build/loading-bar.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-router/release/angular-ui-router.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-utils/ui-utils.js" %}"></script>
    <script src="{% static "bower_components/moment/moment.js" %}"></script>
    <script src="{% static "bower_components/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
    <script src="{% static "bower_components/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js" %}"></script>
    <script src="{% static "bower_components/angular-momentjs/angular-momentjs.js" %}"></script>
    <script src="{% static "bower_components/angular-fullscreen/src/angular-fullscreen.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-tree/dist/angular-ui-tree.js" %}"></script>
    <script src="{% static "bower_components/html.sortable/dist/html.sortable.js" %}"></script>
    <script src="{% static "bower_components/angular-toastr/dist/angular-toastr.tpls.js" %}"></script>
    <script src="{% static "bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js" %}"></script>
    <script src="{% static "bower_components/oclazyload/dist/ocLazyLoad.min.js" %}"></script>
    <script src="{% static "bower_components/chosen/chosen.jquery.min.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-select/dist/select.js" %}"></script>
    <script src="{% static "bower_components/textAngular/dist/textAngular.min.js" %}"></script>
    <script src="{% static "bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js" %}"></script>
    <script src="{% static "bower_components/angular-file-upload/angular-file-upload.js" %}"></script>
    <script src="{% static "bower_components/ngImgCrop/compile/minified/ng-img-crop.js" %}"></script>
    <script src="{% static "bower_components/datatables/media/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/angular-datatables.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.min.js" %}"></script>
    <script src="{% static "bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.min.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-grid/ui-grid.js" %}"></script>
    <script src="{% static "bower_components/ng-table/ng-table.js" %}"></script>
    <script src="{% static "bower_components/angular-smart-table/dist/smart-table.min.js" %}"></script>
    <script src="{% static "bower_components/raphael/raphael.js" %}"></script>
    <script src="{% static "bower_components/mocha/mocha.js" %}"></script>
    <script src="{% static "bower_components/morrisjs/morris.js" %}"></script>
    <script src="{% static "bower_components/flot/jquery.flot.js" %}"></script>
    <script src="{% static "bower_components/flot/jquery.flot.resize.js" %}"></script>
    <script src="{% static "bower_components/flot.tooltip/js/jquery.flot.tooltip.js" %}"></script>
    <script src="{% static "bower_components/angular-flot/angular-flot.js" %}"></script>
    <script src="{% static "bower_components/flot-spline/js/jquery.flot.spline.min.js" %}"></script>
    <script src="{% static "bower_components/d3/d3.js" %}"></script>
    <script src="{% static "bower_components/rickshaw/rickshaw.js" %}"></script>
    <script src="{% static "bower_components/angular-rickshaw/rickshaw.js" %}"></script>
    <script src="{% static "bower_components/owl-carousel/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "bower_components/lodash/dist/lodash.compat.js" %}"></script>
    <script src="{% static "bower_components/angular-google-maps/dist/angular-google-maps.js" %}"></script>
    <script src="{% static "bower_components/jquery-ui/ui/jquery-ui.js" %}"></script>
    <script src="{% static "bower_components/fullcalendar/fullcalendar.js" %}"></script>
    <script src="{% static "bower_components/angular-ui-calendar/src/calendar.js" %}"></script>
    <script src="{% static "bower_components/underscore/underscore.js" %}"></script>    
    <script src="{% static "bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.min.js" %}"></script>
    <script src="{% static "bower_components/angular-filter/dist/angular-filter.js" %}"></script>
    <script src="{% static "bower_components/ngStorage/ngStorage.js" %}"></script>
    <script src="{% static "bower_components/angular-input-masks/masks.js" %}"></script>
    <!-- endbower -->

    <!-- endbuild -->

  