{% load static %}

    <!-- favicon -->

    <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static "favicon/favicon.ico" %}"/>
    <link rel="icon" type="image/png" sizes="196x196" href="{% static "favicon/favicon-196.png" %}"/>
    <link rel="icon" type="image/png" sizes="160x160" href="{% static "favicon/favicon-160.png" %}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96.png" %}"/>
    <link rel="icon" type="image/png" sizes="64x64" href="{% static "favicon/favicon-64.png" %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32.png" %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16.png" %}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/favicon-152.png" %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/favicon-144.png" %}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/favicon-120.png" %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/favicon-114.png" %}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/favicon-76.png" %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/favicon-72.png" %}"/>
    <link rel="apple-touch-icon" href="{% static "favicon/favicon-57.png" %}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static "favicon/favicon-144.png" %}"/>
    <meta name="msapplication-config" content="{% static "favicon/browserconfig.xml" %}"/>

    <!-- <link rel="icon" type="image/ico" href="{% static "favicon.ico" /> -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/font-awesome/css/font-awesome.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/weather-icons/css/weather-icons.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/weather-icons/css/weather-icons.min.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/animate.css/animate.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-loading-bar/build/loading-bar.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/simple-line-icons/css/simple-line-icons.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-toastr/dist/angular-toastr.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/chosen/chosen.min.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-ui-select/dist/select.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/ngImgCrop/compile/minified/ng-img-crop.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/datatables/media/css/jquery.dataTables.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/angular-ui-grid/ui-grid.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/ng-table/ng-table.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/morrisjs/morris.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/rickshaw/rickshaw.min.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/owl-carousel/owl-carousel/owl.carousel.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/owl-carousel/owl-carousel/owl.theme.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/fullcalendar/fullcalendar.css" %}" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="{% static "build/production/css/main.css" %}">
    <link rel="stylesheet" href="{% static "styles/wease.css" %}">
    <!-- endbuild -->