<div class="page page-profile">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>for</span> {{ vm.account.first_name }}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.pages.company-profile({companyId:vm.account.user_company})">{{ vm.account.user_company_full }} Page</a>
        </li>
        <li>
          <a ui-sref="app.pages.profile">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">

      <!-- col -->
      <div class="col-md-4">

        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile widget -->
          <div class="tile-widget p-30 text-center">

            <div class="thumb thumb-xl">
              <img class="img-circle" ng-src="{{ path.static_files }}{{ vm.account.user_pic }}" alt=""/>
            </div>
            <h4 class="mb-0"><strong>{{ vm.account.first_name }}</strong> {{ vm.account.last_name }}</h4>
            <span class="text-muted text-lightred">{{ vm.account.position }}</span>
            <div class="mt-10">
              <button class="btn btn-rounded-20 btn-sm btn-greensea">Chat</button>
              <button class="btn btn-rounded-20 btn-sm btn-lightred">Message</button>
            </div>

          </div>
          <!-- /tile widget -->

          <!-- tile body -->
<!--           <div class="tile-body text-center bg-blue p-0">

            <ul class="list-inline tbox m-0">
              <li class="tcol p-10">
                <h2 class="m-0">695</h2>
                <span class="text-transparent-white">Tweets</span>
              </li>
              <li class="tcol bg-blue dker p-10">
                <h2 class="m-0">1 269</h2>
                <span class="text-transparent-white">Followers</span>
              </li>
              <li class="tcol p-10">
                <h2 class="m-0">369</h2>
                <span class="text-transparent-white">Following</span>
              </li>
            </ul>

          </div> -->
          <!-- /tile body -->

        </section>
        <!-- /tile -->


        <!-- tile -->
<!--         <section class="tile tile-simple">

          <div class="tile-header">
            <h1 class="custom-font"><strong>About</strong> {{ vm.account.first_name }}</h1>
          </div>
         
          <div class="tile-body">

            <p>
              <a href="#" class="icon icon-info icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-twitter"></i></a>
              <a href="{{ facebookLink }}" class="icon icon-primary icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-facebook"></i></a>
              <a href="#" class="icon icon-lightred icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="icon icon-hotpink icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-dribbble"></i></a>
            </p>

            <p class="text-default lt">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>

          </div>
          

        </section> -->
        <!-- /tile -->

        <!-- tile -->
        <section class="tile tile-simple">

          <!-- tile header -->
          <div class="tile-header">
            <h1 class="custom-font"><strong>Team</strong> {{ vm.account.user_company_full }}</h1>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">

            <div class="media team" ng-repeat="user in vm.company.wease_company" ui-sref="app.pages.profile({username:user.username})">
              
              <div class="pull-left thumb">
                <img class="media-object img-circle" ng-src="{{ path.static_files }}{{ user.user_pic }}" alt="">
              </div>
<!--               <div class="pull-right mt-10">
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;"><a ui-sref="app.pages.profile({username:user.username})"><i class="fa fa-eye" style="margin-left: -2px;"></i></a></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
              </div> -->
              <div class="media-body">
                <p class="media-heading mb-0 mt-10">{{ user.first_name }} <strong>{{ user.last_name }}</strong></p>
                <small class="text-lightred">{{ user.position }}</small><br/>
                <small class="">{{ user.city }}, {{ user.country }}</small>
              </div>

              <hr/>
            </div>


<!--             <div class="media">
              <div class="pull-left thumb">
                <img class="media-object img-circle" ng-src="/static/images/random-avatar4.jpg" alt="">
              </div>
              <div class="pull-right mt-10">
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;"><i class="fa fa-eye" style="margin-left: -2px;"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
              </div>
              <div class="media-body">
                <p class="media-heading mb-0 mt-10">Deel <strong>McApple</strong></p>
                <small class="text-lightred">Print master</small>
              </div>
            </div>

            <hr/>

            <div class="media ">
              <div class="pull-left thumb">
                <img class="media-object img-circle" src="/static/images/random-avatar8.jpg" alt="">
              </div>
              <div class="pull-right mt-10">
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;"><i class="fa fa-eye" style="margin-left: -2px;"></i></button>
              </div>
              <div class="media-body">
                <p class="media-heading mb-0 mt-10">Anna <strong>Opichia</strong></p>
                <small class="text-lightred">lead designer</small>
              </div>
            </div>

            <hr/>

            <div class="media ">
              <div class="pull-left thumb">
                <img class="media-object img-circle" src="/static/images/random-avatar7.jpg" alt="">
              </div>
              <div class="pull-right mt-10">
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm mr-5" style="width:30px;"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-rounded-20 btn-default btn-sm" style="width:30px;"><i class="fa fa-eye" style="margin-left: -2px;"></i></button>
              </div>
              <div class="media-body">
                <p class="media-heading mb-0 mt-10">Bobby <strong>Socks</strong></p>
                <small class="text-lightred">CEO</small>
              </div>
            </div> -->

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

        <!-- tile -->
<!--         <section class="tile tile-simple">
          
          <div class="tile-header">
            <h1 class="custom-font"><strong>My</strong> Projects</h1>
          </div>
 
          <div class="tile-body">

            <ul class="list-unstyled">

              <li>
                <div class="row">
                  <div class="col-md-3">
                    Minimal
                  </div>
                  <div class="col-md-9">
                    <progressbar class="progress-striped not-rounded" value="56" type="warning">56%</progressbar>
                  </div>
                </div>
              </li>

              <li>
                <div class="row">
                  <div class="col-md-3">
                    Minoral
                  </div>
                  <div class="col-md-9">
                    <progressbar class="progress-striped not-rounded" value="90" type="blue">90%</progressbar>
                  </div>
                </div>
              </li>

              <li>
                <div class="row">
                  <div class="col-md-3">
                    The Kamarel
                  </div>
                  <div class="col-md-9">
                    <progressbar class="progress-striped not-rounded" value="36" type="greensea">36%</progressbar>
                  </div>
                </div>
              </li>

              <li>
                <div class="row">
                  <div class="col-md-3">
                    Themeforest
                  </div>
                  <div class="col-md-9">
                    <progressbar class="progress-striped not-rounded" value="8" type="danger">8%</progressbar>
                  </div>
                </div>
              </li>

            </ul>

          </div>

        </section> -->
        <!-- /tile -->


      </div>
      <!-- /col -->






      <!-- col -->
      <div class="col-md-8">

        <!-- tile -->
        <section class="tile tile-simple">
          <!-- tile header -->

          <!-- tile body -->
          <div class="tile-body p-0">

            <tabset class="tabs-dark">

              <tab heading="Profile">
                <div class="wrap-reset">
                  <div class="tile-header">
                    <h1 class="custom-font"><strong>About</strong> {{ vm.account.first_name }}</h1>
                  </div>
                  <div class="title-body">
                      <p ng-show="vm.account.tagline"><em>"{{ vm.account.tagline }}"</em></p>
                    
                      <!-- <p> -->
                        <!-- <a href="#" class="icon icon-info icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-twitter"></i></a> -->
                        <!-- <a ng-show="vm.facebook" href="https://www.facebook.com/{{vm.facebook}}" target="_blank" class="icon icon-primary icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-facebook"></i></a> -->
  <!--                       <a href="#" class="icon icon-lightred icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="icon icon-hotpink icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-dribbble"></i></a> -->
                      <!-- </p> -->
                    <div class="row">
                      <div class="col-md-12 p-20">
                        <!-- <span><a target="_blank" href="https://www.google.com/maps/place/?q={{vm.account.street_addr1}}+{{vm.account.city}}+{{vm.account.country}}+{{vm.account.post_code}}" class="icon icon-sm icon-lightred icon-ef-3 icon-ef-3b icon-color"><i class="fa fa-map-marker"></i></a></span> -->
                        <h4>{{vm.account.street_addr1}}</h4>
                        <h4>{{vm.account.street_addr2}}</h4>
                        <h4>{{vm.account.city}}, {{vm.account.country}} {{vm.account.post_code}}</h5>
                        <h5>{{vm.account.phone_main}}</h4>
                        <h5><a href="mailto:{{vm.account.email}}">{{vm.account.email}}</a></h5>
                        <h5 ng-show="au.id === vm.acount.id || mgr || admin">Authorized Amount: € {{vm.account.auth_amount}}</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 p-20 b-t">
                        <div class="thumb" ng-show="vm.company.company_website">
                          <a href="http://{{vm.company.company_website}}"><img class="media-object img-circle" ng-src="{{path.static_files}}{{vm.company.company_logo}}" alt="">
                          {{vm.company.company_website}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="streamline-form">
                    <textarea class="form-control br-0 br-2-t" placeholder="What's up dude?" rows="5"></textarea>
                    <div class="post-toolbar">
                      <a href="#" tooltip="Add File"><i class="fa fa-paperclip"></i></a>
                      <a href="#" tooltip="Add Image"><i class="fa fa-camera"></i></a>
                      <a href="#" class="pull-right" tooltip="Post it!"><i class="fa fa-share"></i></a>
                    </div>
                  </div> -->

                  <!-- <div class="streamline mt-20">

                    <article class="streamline-post">

                      <aside>
                        <div class="thumb thumb-sm">
                          <img class="img-circle" src="images/profile-photo.jpg" alt="">
                        </div>
                      </aside>

                      <div class="post-container">

                        <div class="panel panel-default">
                          <div class="panel-heading bg-white">
                            John Douey <small class="text-muted">posted a new status</small>
                            <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> Just now</span>
                          </div>
                          <div class="panel-body">
                            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.

                            <p class="mt-10 mb-0">
                              <a href="" active-toggle="" class="btn btn-default btn-xs active">
                                <i class="fa fa-heart-o text-inactive"></i><i class="fa fa-heart text-danger text-active"></i> Like (14)
                              </a>
                              <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-comments"></i> Comments (30)
                              </a>
                              <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                              </a>
                            </p>
                          </div>
                        </div>

                        <ul class="list-unstyled post-replies">

                          <li>

                            <aside>
                              <div class="thumb thumb-sm">
                                <img class="img-circle" src="images/random-avatar4.jpg" alt="">
                              </div>
                            </aside>

                            <div class="reply-container">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <p>
                                    <strong>James Bend</strong>
                                    <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 6 minutes ago</span>
                                  </p>

                                  <p class="mb-0 text-small">These cases are perfectly simple and easy to distinguish.</p>

                                  <p class="mt-10 mb-0">
                                    <a href="" active-toggle="" class="btn btn-default btn-xs">
                                      <i class="fa fa-heart-o text-inactive"></i><i class="fa fa-heart text-danger text-active"></i> Like (5)
                                    </a>
                                    <a href="" class="btn btn-default btn-xs">
                                      <i class="fa fa-mail-reply"></i> Reply
                                    </a>
                                  </p>

                                </div>
                              </div>
                            </div>

                          </li>

                          <li>

                            <aside>
                              <div class="thumb thumb-sm">
                                <img class="img-circle" src="images/ici-avatar.jpg" alt="">
                              </div>
                            </aside>

                            <div class="reply-container">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <p>
                                    <strong>Ing. Imrich Kamarel</strong>
                                    <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 50 minutes ago</span>
                                  </p>

                                  <p class="mb-0 text-small">In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>

                                  <p class="mt-10 mb-0">
                                    <a href="" active-toggle="" class="btn btn-default btn-xs active">
                                      <i class="fa fa-heart-o text-inactive"></i><i class="fa fa-heart text-danger text-active"></i> Like
                                    </a>
                                    <a href="" class="btn btn-default btn-xs">
                                      <i class="fa fa-mail-reply"></i> Reply
                                    </a>
                                  </p>

                                </div>
                              </div>
                            </div>

                          </li>

                          <li>

                            <aside>
                              <div class="thumb thumb-sm">
                                <img class="img-circle" src="images/arnold-avatar.jpg" alt="">
                              </div>
                            </aside>

                            <div class="reply-container">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <p>
                                    <strong>Arnold Karlsberg</strong>
                                    <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 56 minutes ago</span>
                                  </p>

                                  <p class="mb-0 text-small">But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>

                                  <p class="mt-10 mb-0">
                                    <a href="" active-toggle="" class="btn btn-default btn-xs">
                                      <i class="fa fa-heart-o text-inactive"></i><i class="fa fa-heart text-danger text-active"></i> Like (2)
                                    </a>
                                    <a href="" class="btn btn-default btn-xs">
                                      <i class="fa fa-mail-reply"></i> Reply
                                    </a>
                                  </p>

                                </div>
                              </div>
                            </div>

                          </li>

                        </ul>

                      </div>

                    </article>

                    <article class="streamline-post">
                      <aside>
                        <div class="thumb thumb-sm">
                          <img class="img-circle" src="images/random-avatar1.jpg" alt="">
                        </div>
                      </aside>
                      <div class="post-container">
                        <div class="panel panel-default">
                          <div class="panel-heading bg-white">
                            Mike Herrington <small class="text-muted">posted a new status</small>
                            <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 39 minutes ago</span>
                          </div>
                          <div class="panel-body">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

                            <p class="mt-10 mb-0">
                              <a href="" active-toggle="" class="btn btn-default btn-xs">
                                <i class="fa fa-heart-o text-inactive"></i><i class="fa fa-heart text-danger text-active"></i> Like
                              </a>
                              <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-comments"></i> Comments (9)
                              </a>
                              <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                              </a>
                            </p>

                          </div>
                        </div>
                      </div>
                    </article>

                    <article class="streamline-post">
                      <aside>
                        <div class="thumb thumb-sm">
                          <img class="img-circle" src="images/random-avatar3.jpg" alt="">
                        </div>
                      </aside>
                      <div class="post-container">
                        <div class="panel panel-default">
                          <div class="panel-heading bg-white">
                            Robin Wills <small class="text-muted">added a new photo</small>
                            <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> 1 hour ago</span>
                          </div>
                          <div class="panel-body">

                            <img src="http://placekitten.com/g/800/600" class="img-responsive mb-20" alt />

                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>

                            <p class="mt-10 mb-0">
                              <a href="" active-toggle="" class="btn btn-default btn-xs active">
                                <i class="fa fa-heart-o text-inactive"></i><i class="fa fa-heart text-danger text-active"></i> Like (16)
                              </a>
                              <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-comments"></i> Comments (16)
                              </a>
                              <a href="" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply"></i> Reply
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </article>

                    <div class="text-center">
                      <a href="#" class="btn btn-sm btn-default">
                        Load More …
                      </a>
                    </div>

                  </div> -->
                </div>
              </tab>

              <tab heading="Info" ng-if="vm.isUser">
                <div class="wrap-reset">

                  <form class="profile-settings form-validation" name="userProfForm" ng-submit="vm.update()" novalidate>

                    <div class="row">
                      <div class="form-group col-md-12 legend">
                        <h4><strong>Personal</strong> Settings</h4>
                        <p>Your personal account settings</p>
                      </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="first-name">First Name</label>
                            <input type="text" class="form-control" name="first_name" ng-model="vm.account.first_name" required>
                            <span class="text-red" ng-show="userProfForm.first_name.$invalid">Required</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" ng-model="vm.account.last_name" required>
                            <span class="text-red" ng-show="userProfForm.last_name.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-sm-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" ng-model="vm.account.email" required>
                            <span class="text-red" ng-show="userProfForm.email.$invalid">Required</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" name="position" ng-model="vm.account.position" required>
                            <span class="text-red" ng-show="userProfForm.position.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="first-name">WeASe Access Level</label>
                            <select class="form-control" 
                                    chosen width="'100%'" 
                                    name="access_level"
                                    ng-model="vm.account.access_level" 
                                    data-placeholder="Select Access Level"
                                    required>
                                    <option value=""></option>
                                    <option value="8">Administrator</option>
                                    <option value="7">Manager</option>
                                    <option value="6">Approval</option>
                                    <option value="5">Submit</option>
                                    <option value="2">View</option>
                            </select>
                            <span class="text-red" ng-show="userProfForm.access_level.$invalid">Required</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="position">Authorization Amount</label>
                            <div class="input-group">
                              <span class="input-group-addon">€</span>
                              <input type="text" class="form-control" name="auth_amount" placeholder="Enter an authorization amount" ng-model="vm.account.auth_amount" ng-minlength=1 ng-maxlength=7 required>
                            </div>
                            <span class="text-red" ng-show="userProfForm.auth_amount.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="address1">Address Line 1</label>
                            <input type="text" class="form-control" ng-model="vm.account.street_addr1">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="address2">Address Line 2</label>
                            <input type="text" class="form-control" ng-model="vm.account.street_addr2">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-sm-4">
                            <label for="city">City</label>
                            <input type="text" class="form-control" ng-model="vm.account.city">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" ng-model="vm.account.post_code">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="country">Country</label>
                            <select class="form-control" 
                                    chosen width="'100%'" 
                                    ng-model="vm.account.country"
                                    ng-options="country for country in countries"
                                    data-placeholder="Choose a country">
                                    <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="company_logo">Profile Picture</label>
                            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                            <!-- <input type="file" nv-file-select="" uploader="uploader" /> -->
                            <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                            buttonText: 'Find file',
                            iconName: 'glyphicon-file'
                            }" nv-file-select="" uploader="uploader">
                            <span class="help-block">Allowed files: gif, png, jpg</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="tagline">Tag line</label>
                            <textarea class="form-control" rows="2" ng-model="vm.account.tagline">{{ vm.account.tagline }}</textarea>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.isFile">
                        <div class="col-md-9 mb-20" >
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="phone">Phone Main</label>
                            <input type="text" class="form-control" ng-model="vm.account.phone_main">
                            <span class="help-block">+(34) 13 24 76 98</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="phone">Phone Mobile</label>
                            <input type="text" class="form-control" ng-model="vm.account.phone_mobile">
                            <span class="help-block">+(34) 13 24 76 98</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 legend">
                            <h4><strong>Security</strong> Settings</h4>
                            <p>Secure your account</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" ng-model="vm.account.username" required>
                            <span class="text-red" ng-show="userProfForm.username.$invalid">Required</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="password">Current Password</label>
                            <input type="password" class="form-control" value="secretpassword" readonly>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control" name="password" ng-model="vm.account.password">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="new-password-repeat">New Password Confirm</label>
                            <input type="password" class="form-control" name="confirm_password" ng-model="vm.account.confirm_password" ui-validate=" '$value==vm.account.password' " ui-validate-watch=" 'vm.account.password' ">
                            <span class="text-red" ng-show='userProfForm.confirm_password.$error.validator'>Passwords don't match!</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-rounded btn-primary">Update Profile</button>
                  </form>
                </div>
              </tab>

              <tab heading="Preferences" ng-if="vm.isUser">
                <div class="wrap-reset">
                  <div class="tile-header">
                    <h1 class="custom-font">Email and Notification <strong>Preferences</strong>:</h1>
                  </div>
                  <div class="title-body">
                    <div class="row">

                      <div class="form-group col-sm-6">
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.request_email"><i></i> New/Updated Requests
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.approval_email"><i></i> Request Approval Needed
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.offer_email"><i></i> New/Updated Offers
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.validated_email"><i></i> Validated Offer
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.refused_email"><i></i> Refused Offer
                        </label>                        
                      </div>

                      <div class="form-group col-sm-6">
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.order_email"><i></i> Completed Order
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.canceled_email"><i></i> Canceled Request
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.new_user_email"><i></i> New Team Member
                        </label>
                        <label class="checkbox checkbox-custom">
                          <input type="checkbox" ng-model="vm.account.info_change_email"><i></i> Personal Data Change
                        </label>                        
                      </div>
                      <button class="btn btn-rounded btn-primary" ng-click="vm.update();">Update Preferences</button>
                    </div>
                  </div>
                </div>
              </tab>

            </tabset>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->

    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
